<footer class="checkout-footer checkout-copyright">
  <div class="uk-text-center uk-margin-medium-top uk-text-small">{# translation-ready, escaped, formatted, semantic #}
  © {{ "now"|date("Y") }} <a href="{{site.url|e('esc_url')}}">{{site.title|e('esc_html')}}</a>. {{ _x('All rights reserved.', 'Copyright', 'dream-winners')|e('esc_html') }}</div>
</footer>