{% include '_details-header.twig' %}

<div class="customer-billing-shipping">
  <ul id="Switch" class="uk-switcher uk-margin">
    
    {% if checkout.get_checkout_fields() %}
    
      {% include '_details-billing.twig' %}
      {% include '_details-shipping.twig' %}
      {% include '_details-additional.twig' %}
    
    {% endif %}
    
    {% include '_details-payment.twig' %}
    
  </ul>
</div>

{% include '_details-footer.twig' %}